/*
    author:xiaobai8
    blog:http://www.xiaobai8.com
    date:2012-09-03
*/
html {
    margin:0;
    padding:0;
}
body {
    margin:0;
    font-size:14px;
}
.wrap {
    background-color: #CCC;
    width: 100%;
    height: 800px;
}


.main {
    width: 50%;
    margin: auto;
    height: 700px;
    background-color: #FFF;
}

.head {
    height: 40px;
    padding-top: 10px;
    border-bottom: 1px solid #999;
    font-size:20px;
}

.head span{
    margin: auto;
    width: auto;
}

.screen {
    height:400px;
    width:auto;
    overflow-y: scroll;
    background:#FFF;
	border: 1px solid #999;
}

.screen .msgtitle {
    color:blue;
}

.send_message {
    margin-top: 5px;
}

.send_message .message {
    width:60%;
    float:left;
}

.send_message .message textarea {
    width:100%;
}

.send_message .opt {
    margin-right:10px;
    margin-top:10px;
    float:right;
}